* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --nav-bg: #5d4954;
  --white-gray: rgb(226, 226, 226);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  background-color: var(--nav-bg);
}

.logo {
  color: var(--white-gray);
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: 1.25rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links li {
  list-style: none;
  margin: 0 1rem 0 1rem;
}

.nav-links a {
  color: var(--white-gray);
  text-decoration: none;
  letter-spacing: .053rem;
  font-weight: bold;
  font-size: .85rem;
}

.burger div {
  width: 30px;
  height: 2.5px;
  background-color: var(--white-gray);
  margin: 5px;
}

.burger {
  display: none;
}

@media screen and (max-width: 48em) {
  body {
    overflow-x: hidden;
  }
  nav {
    padding: 0 1rem 0 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: var(--nav-bg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .burger {
    display: block;
  }
}
