
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --nav-bg: #5d4954;
    --white-gray: rgb(226, 226, 226);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--nav-bg);   
}

.logo{
    color: var(--white-gray);
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1.25rem;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    
    li{
        list-style: none;
        margin: 0 1rem 0 1rem;
    }
    a{
        color: var(--white-gray);
        text-decoration: none;
        letter-spacing: .053rem;
        font-weight: bold;
        font-size: .85rem;
    }
}


.burger div{
    width: 30px;
    height: 2.5px;
    background-color: var(--white-gray);
    margin: 5px;
}

.burger{
    display: none;
}

@media screen and (max-width: 48em) {
    body{
        overflow-x: hidden;
    }
    
    nav{
        padding: 0 1rem 0 1rem;
        justify-content: space-between;
    }
    
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: var(--nav-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%); // moves the links off the screen
    }
    
    .burger{
        display: block;
    }
  

}

































// .spectrum-background {
//     background:
//         linear-gradient(red, transparent),
//         linear-gradient(to top left, lime, transparent),
//         linear-gradient(to top right, blue, transparent);
//     background-blend-mode: screen;
// }